.directory
*.pyc
*~
/org/_drafts
/images
/jekyll/_site/
/_site/
/jekyll/cycling
/jekyll/blog
/jekyll/books
/jekyll/linux
/jekyll/mountaineering
/jekyll/mythtv
/jekyll/_posts
/jekyll/_drafts
/jekyll/index.html
/jekyll/sitemap.html
/jekyll/contact.html
/pelican/blog/content/*.yml
/pelican/blog/content/pages/*.yml
/pelican/blog/content/*.html
*.#
*#
.directory
/pelican/blog/pages/linux/*.yml
/pelican/blog/pages/books/*.yml
/pelican/blog/pages/cycling/*.yml
/pelican/blog/pages/mountaineering/*.yml
/pelican/blog/output
